USE [master]
GO
/****** Object:  Database [GestionEtudiants]    Script Date: 10/23/2019 5:50:25 PM ******/
CREATE DATABASE [GestionEtudiants]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionEtudiants', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GestionEtudiants.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionEtudiants_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\GestionEtudiants_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionEtudiants].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionEtudiants]
GO
/****** Object:  Table [dbo].[etudiant]    Script Date: 10/23/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[etudiant](
	[cne] [int] NOT NULL,
	[nom] [varchar](100) NULL,
	[prenom] [varchar](100) NULL,
	[sexe] [char](1) NULL,
	[date_naiss] [varchar](10) NULL,
	[adresse] [varchar](100) NULL,
	[telephone] [varchar](10) NULL,
	[id_fil] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_cne] UNIQUE NONCLUSTERED 
(
	[cne] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Filiere]    Script Date: 10/23/2019 5:50:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filiere](
	[id_Filiere] [int] IDENTITY(1,1) NOT NULL,
	[nom_Filiere] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Filiere] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[etudiant]  WITH CHECK ADD  CONSTRAINT [fk_fili] FOREIGN KEY([id_fil])
REFERENCES [dbo].[Filiere] ([id_Filiere])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[etudiant] CHECK CONSTRAINT [fk_fili]
GO
USE [master]
GO
